{% with image_count=14 %}
{% include "carousel_start.html" %}
{% endwith %}

{% with src="app/screenshots/screen_1.jpg", alt="App screenshot", active=True%}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_2.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_3.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_4.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_5.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_6.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_7.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_8.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_9.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_10.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_11.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_12.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_13.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="app/screenshots/screen_14.jpg", alt="App screenshot" %}
{% include "carousel_img.html" %}
{% endwith %}

{% include "carousel_end.html" %}