{% if 'readthedocs.org' in config.docs_dir %}
{% set assets = '/en/latest/assets' %}
{% else %}
{% set assets = '/assets' %}
{% endif %}

{% if 'http' in url %}
{% set doc_url = url %}
{% else %}
{% set doc_url = assets  + '/images/' + url %}
{% endif %}

<b>SITE_URL: {{ site_url }}</b>
<b>DOC_URL: {{ doc_url }} </b>
<br><b>docs_dir: {{ config.docs_dir }}</b>

<figure class='image image-inventree'>
    {% if id %}
    <!-- The link that, when clicked, will display the image in full screen -->
    <a href="#{{ id }}">
    {% elif doc_url %}
    <a href="{{ doc_url }}">
    {% endif %}
        <img class='img-inline' src='{{ doc_url }}' alt='{{ description }}' title='{{ description }}'
        {% if maxwidth or maxheight %}style='
        {% if maxwidth %} max-width:{{ maxwidth }};{% endif %}
        {% if maxheight %} max-height: {{ maxheight }};{% endif %}
        '{% endif %}
        >
    {% if id or doc_url %}
    </a>
    {% endif %}

    {% if id %}
    <!-- The full screen image, hidden by default  -->
    <a href="#_" class="overlay" id="{{ id }}">
      <img src="{{ doc_url }}" alt="{{ description }}" />
    </a>
    {% endif %}
</figure>
