{% with image_count=11 %}
{% include "carousel_start.html" %}
{% endwith %}

{% with src="index/part_category.png", min_height="400px", max_height="400px", alt="Part Categories", active=True %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/part_stock.png", min_height="400px", max_height="400px", alt="Part Stock" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/part_suppliers.png", min_height="400px", max_height="400px", alt="Part Suppliers" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/stock_item.png", min_height="400px", max_height="400px", alt="Stock Item" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/stock_location.png", min_height="400px", max_height="400px", alt="Stock Location" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/stock_location_2.png", min_height="400px", max_height="400px", alt="Stock Location" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/suppliers.png", min_height="400px", max_height="400px", alt="Suppliers" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/part_admin.png", min_height="400px", max_height="400px", alt="Admin Interface" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/category_params.png", min_height="400px", max_height="400px", alt="Part Parameters" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/build_outputs.png", min_height="400px", max_height="400px", alt="Build Orders" %}
{% include "carousel_img.html" %}
{% endwith %}

{% with src="index/bom_add_item.png", min_height="400px", max_height="400px", alt="Bill of Materials" %}
{% include "carousel_img.html" %}
{% endwith %}

{% include "carousel_end.html" %}