{% if config.version_banner %}
<div class='md-banner md-banner--warning'>
    <div class='md-grid md-typeset'>
        {% if config.readthedocs.version == 'latest' %}
        <small>
            This documentation is for the <em>development</em> version of InvenTree, which may be significantly different from previous stable releases.<br>
            For stable release documentation, use the version selector located in the bottom right corner of this page.
        </small>
        {% else %}
        <small>
            This documentation is for an outdated version of InvenTree.<br>
            For <em>stable</em> release documentation, use the version selector located in the bottom right corner of this page.
        </small>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
